abcd_data/*
simulated_data/
simulated_data/*.csv
simulated_data/individual_data/*.csv
ssrt_metrics/individual_metrics/*.csv
ssrt_metrics/expected*
.out
.err
.ipynb_checkpoints
__pycache__
.DS_Store
launch.o*
Untitled*
